@CHARSET "UTF-8";



#pjWrapper .tbContainer .tbMapHolder{
	margin: 0 auto;
	overflow: auto;
    -ms-overflow-y: hidden;
	overflow-y:hidden;
    position: relative;
}
#pjWrapper .tbContainer .tbMapHolder .tbSeatRect {
	border-radius: 3px;
    display: block;
    font-size: 12px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 1000;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
#pjWrapper .tbContainer .tbMapHolder .tbSeatAvailable{
   /* background-color: #3e8f3e;*/
   border: solid #49ba8e 1px;
    color: #49ba8e;
    cursor: pointer !important;
	
}
#pjWrapper .tbContainer .tbMapHolder .tbSeatSelected{
	background-color: #7294b2;
	cursor: default;
}
#pjWrapper .tbContainer .tbMapHolder .tbSeatBlocked{
	background-color: #d77774;
	cursor: default;
}
#pjWrapper .tbContainer .tbErrorMessage,
#pjWrapper .tbContainer .tbGuideMessage{
	display: none;
	color: #a94442;
}
#pjWrapper .tbContainer .tbAssignedNoMap,
#pjWrapper .tbContainer .tbAssignedSeats{
	display: inline-block;
	background-color: #7294b2;
	margin-right: 6px;
	margin-bottom: 10px;
	border-radius: 3px;
	font-size: 12px;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	padding: 1px 5px;
	text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
#pjWrapper .tbContainer .tbSelectSeatGuide,
#pjWrapper .tbContainer .tbAskToSelectTickets{
	display: none;
}
#pjWrapper .tbContainer .tbAssignedSeats{
	cursor: pointer;
}
#pjWrapper .tbContainer .tbTipToRemoveSeats,
#pjWrapper .tbContainer .tbAskToSelectSeats{
	color: #a94442;
	font-style:normal;
	font-weight:normal;
	font-size:14px;
}
#pjWrapper .tbContainer .tbTipToRemoveSeats{
	margin-bottom: 8px;
	margin-left: 120px;
}
#pjWrapper .tbContainer .tbSelectedSeatsLabel{
	margin-right: 6px;
	float: left;
}
#pjWrapper .form-group.required label.control-label:after{
	content:" *";
	color: #a94442;
}
#pjWrapper .form-group.required label.error{
	color: #a94442;
	font-weight: normal;
	padding-left: 0px !important;
}
#pjWrapper .tbContainer .pre-scrollable{
	overflow: auto;
	-ms-overflow-x: hidden;
	overflow-x:hidden;
}
#pjWrapper .tbContainer .input-group.date,
#pjWrapper .tbContainer .input-group.date .tbSelectorDatepick{
	cursor: pointer;
}
#pjWrapper .tbContainer .input-group.date .tbSelectorDatepick{
	background-color: #fff;
    background-image: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
}
#pjWrapper .tbContainer .tbDatePickerWrapper{
	text-align: center;
}
#pjWrapper .tbContainer .tbDatePickerGroup{
	margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}
#pjWrapper .tbContainer .tbLegendLabel{
	font-weight: normal;
	font-size: 12px;
}
#pjWrapper .tbContainer .tbPanelHeading{
	padding-bottom: 0px;
}

#pjWrapper .dropdown-menu > li > a{padding: 3px 10px;}
#pjWrapper .pjCbLocalMenu img,
#pjWrapper .pjCbLocalTrigger img{ display: inline-block; margin-top: -1px;}
/* ==========================================================================
	.pjCbjQueryUI
========================================================================== */
.pjCbjQueryUI{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.pjCbjQueryUI .ui-widget button {
   	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 12px !important;
}
.pjCbjQueryUI{width: 226px;}
.pjCbjQueryUI td{width: 32px;}
.pjCbjQueryUI td span, 
.pjCbjQueryUI td a{text-align: center !important;}
/* ==========================================================================
	#New CSS
========================================================================== */

#pjWrapper .pjCbWeekPanel{margin-left: 15px; font-size: 0; }
#pjWrapper .pjCbWeekPanel a{display: inline-block; padding: 15px; border-bottom: 2px solid #337ab7; font-size: 14px; }
#pjWrapper .pjCbWeekPanel a.active{font-weight: bold; border-bottom: 6px solid #337ab7;}
#pjWrapper .pjCbWeekPanel a.pjCbNavArrowRight,
#pjWrapper .pjCbWeekPanel a.pjCbNavArrowLeft{font-size: 22px; padding: 8px 14px; border-bottom: none;}
#pjWrapper .pjCbWeekPanel a.pjCbNavArrowRight{margin-left: 8px;}
#pjWrapper .pjCbWeekPanel a.pjCbNavArrowLeft{margin-right: 8px;}
#pjWrapper .pjCbEventRow{overflow: hidden; margin-bottom: 20px; }
#pjWrapper .pjCbEventList .pjCbEventRow:last-child{margin-bottom: 0px;}
#pjWrapper .pjCbEventRow .pjCbMovieIntroImage{float: left; margin-right: 15px; width: 130px;}
#pjWrapper .pjCbEventRow .pjCbMovieIntroContent{}
#pjWrapper .pjCbEventRow .pjCbMovieIntroContent .pjCbMovieTitle{font-size: 20px; font-weight: bold; margin-bottom: 2px;text-transform: uppercase;}
#pjWrapper .pjCbEventRow .pjCbMovieIntroContent .pjCbMovieTitle a { color: inherit; text-decoration: none; }
#pjWrapper .pjCbEventRow .pjCbMovieIntroContent .pjCbMovieDuration{ margin-bottom: 15px;}
#pjWrapper .pjCbEventRow .pjCbMovieIntroContent .pjCbMovieDesc{ margin-bottom: 10px;}
#pjWrapper .pjCbEventRow .pjCbMovieIntroContent .pjCbMovieTime{border-radius: 3px; border: 1px solid #ccc; overflow: hidden; padding: 8px;}
#pjWrapper .pjCbEventRow .pjCbMovieIntroContent .pjCbMovieTime label{display: block; float: left; margin-bottom: 0px; margin-right: 10px;line-height: 30px;}
#pjWrapper .pjCbEventRow .pjCbMovieIntroContent .pjCbMovieTime a{display: block; float: left; margin-bottom: 0px; padding: 6px 8px; background-color: #dcdcdc; margin-right: 1px;}
#pjWrapper .pjCbEventRow .pjCbMovieIntroContent .pjCbMovieTime .pjCbTimePassed { opacity: .7; }

#pjWrapper .pjCbWeekPanelDatePicker { width: auto; padding: 7px 15px; }
#pjWrapper .pjCbWeekPanelDatePicker label,
#pjWrapper .pjCbWeekPanelDatePicker .pjCbFormControls { display: inline-block; vertical-align: middle; }
#pjWrapper .pjCbWeekPanelDatePicker .pjCbFormControls { width: 200px; max-width: 100%; }
#pjWrapper .pjCbWeekPanelDatePicker label { margin: 0; padding-top: 0; }
#pjWrapper .pjCbEventRow .pjCbMovieIntroContent .pjCbMovieTime .pjCbMovieTimesWrapper { float: left; }

/* ==========================================================================
	#pjCbLocal
========================================================================== */
#pjWrapper .pjCbLocal .pjCbLocalMenu { right: 0; left: auto; }

/* ==========================================================================
	#pjCbFormDate
========================================================================== */
#pjWrapper .pjCbFormDate .pjCbTitle { margin: 0; padding: 0; font-size: 14px; }
#pjWrapper .pjCbFormDate .btn-link { margin-top: 20px; }
#pjWrapper .pjCbFormDate .btn-group { margin: 7px 15px 7px 15px; }

/* ==========================================================================
	#pjCbEvents
========================================================================== */
#pjWrapper .pjCbEvents { position: relative; }
#pjWrapper .pjCbTableEvents tr:hover { background: #23527c; }
#pjWrapper .pjCbTableEvents tr:hover a,
#pjWrapper .pjCbTableEvents tr:hover strong { color: #fff; }

#pjWrapper .pjCbTableEvents .pjCbMovie:hover ~ .pjCbMovieIntro { display: block; }
#pjWrapper .pjCbTableEvents .pjCbMovieIntro { position: absolute; top: 60px; left: 300px; z-index: 2; overflow: hidden; display: none; width: 340px; max-height: 340px; padding: 15px; border: 1px solid #333; background: #fff; }
#pjWrapper .pjCbTableEvents .pjCbMovieIntroImage { padding-right: 0; }
#pjWrapper .pjCbTableEvents .pjCbMovieIntroContent p { color: #333; }

#pjWrapper .pjCbMovieEmptyDay { margin: 0; padding: 7px 0; }

/* ==========================================================================
	#pjCbSeats
========================================================================== */
#pjWrapper .pjCbSeats .well p { margin-bottom: 0; font-size: 18px; }
#pjWrapper .pjCbSeats .well .lead { margin-bottom: 5px; }
#pjWrapper .pjCbSeatsTitle { margin-top: 0; font-size: 24px; }
#pjWrapper .pjCbContainer .tbTipToRemoveSeats { margin-left: 0; }
#pjWrapper .pjCbSeats .pjCbSeatsInfo { font-size: 18px; }

#pjWrapper .pjCbSeats .pjCbFormSeats .control-label { padding-right: 15px; padding-left: 15px; }

/* ==========================================================================
	#pjCbPayment
========================================================================== */
#pjWrapper .pjCbPayment label,
#pjWrapper .pjCbPayment .well p { font-size: 14px; }

/* ==========================================================================
	#Responsive
========================================================================== */
@media only screen and (max-width: 992px) {
	#pjWrapper .pjCbMovieInfo ~ .pjCbFoot .pjCbBtnPrimary { margin-top: 20px; }

    #pjWrapper .pjCbMovieEmptyDay { padding: 27px 0 0; } }

@media only screen and (max-width: 768px) {
	#pjWrapper .pjCbSeats .well .text-right,
	#pjWrapper .pjCbPayment .text-right { text-align: left; }

	#pjWrapper .pjCbMovieInfo ~ .pjCbFoot .pjCbBtnPrimary { margin-top: 0; margin: 0 auto; }

	#pjWrapper .pjCbMovieEmptyDay { padding: 0; }
}

@media only screen and (max-width: 480px) {
	#pjWrapper .pjCbLocal .pjCbLocalMenu { right: auto; left: 0; }
	#pjWrapper .pjCbHeading .pjCbFormDate .pull-right { float: left !important; }
	#pjWrapper .pjCbWeekPanelDatePicker { width: 100%; }
	#pjWrapper .pjCbWeekPanelDatePicker label { display: block; }
}

@media only screen and (max-width: 380px) {
	#pjWrapper .pjCbEventRow .pjCbMovieIntroContent { overflow: hidden; width: 100%; padding-top: 10px; }
}

@media only screen and (max-width: 350px) {
	#pjWrapper .pjCbFormDate .btn-group { margin-left: 15px; }
}