.tbSeatAvailable{
	background-color: #3e8f3e;
	border: solid #49ba8e 1px;
    color: #49ba8e;
	background:white;
}
.tbSeatRect{
	pointer-events:none;
	border-radius: 3px;
	display: block;
	font-size: 12px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	z-index: 1000;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.tbSeatBooked{
	pointer-events:none;
	border-radius: 3px;
	display: block;
	font-size: 12px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	z-index: 1000;
	border: solid white 1px;
    color: white;
	background:#d77774;;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.tbSeatHolding{
	pointer-events:none;
	border-radius: 3px;
	display: block;
	font-size: 12px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	z-index: 1000;
	border: solid white 1px;
    color: white;
	background:#f5ca8c;;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.container{
	padding: 5px;
	margin-top: 17px;
	background: white;
    border-radius: 16px;
    border-style: groove;
}
.row{
	margin-top:10px;
}
.lbl{
	margin-left:30px;
	font-size: 15px;
	color:#595a5c;
	font-family: Arial, Helvetica, sans-serif;
}
.go_btn{
	float: right;
}
#loader-ring{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	display:none;
}